body {
  -webkit-user-select: none;
  background-color: #1a1a1a;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin-bottom: 70px;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#js_disabled {
  background-color: black;
  color: yellow;
  font-size: 180%;
  padding: 30px;
}

#top_alert {
  background-color: black;
  border-bottom: 1px solid #bb4b4b;
  color: #bb4b4b;
  font-size: 120%;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.elementToFadeInAndOut {
  animation: FadeAlert 2s linear forwards;
}

@keyframes FadeAlert {
  0% {
    opacity: 1;
    transform: translateY(-50px);

  }

  5% {
    opacity: 1;
    transform: translateY(0px);
  }

  85% {
    opacity: 1;
    transform: translateY(0px);

  }

  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.disable_select {
  -webkit-user-select: none;
  user-select: none;
}

.enable_select {
  -webkit-user-select: text;
  user-select: text;
}

/* hide polish or english version based on button click */
body.hide_english :lang(en) {
  display: none;
}

body.hide_polish :lang(pl) {
  display: none;
}

/* resize on hover */
.image_highlight_on_hover:hover {
  filter: brightness(120%) saturate(120%);
  transform: scale(0.95);
}

.link_default {
  color: #bb4b4b;
  cursor: pointer;
}

.link_background {
  cursor: pointer;
}

.link_background:hover {
  background-color: #704343;
  color: #ff9999;
}

/* header at the top; contains website name and navigation links */
header {
  align-items: center;
  background-color: #141414;
  border-radius: 20px;
  border: 3px solid #262626;
  box-shadow: 0px 0px 15px #0d0d0d;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
  padding: 10px;
  width: 80%;
  z-index: 100;
}

/* text on left side of header */
#header_title {
  font-size: 35px;
  padding-left: 10px;
}

/* buttons on right side of header */
nav {
  display: flex;
  font-size: 20px;
  gap: 15px;
  z-index: 101;
}

nav li {
  border-radius: 15px;
  cursor: pointer;
  padding-bottom: 18px;
  padding-left: 14px;
  padding-right: 16px;
  padding-top: 18px;
}

nav li:hover:not(.navbar_splitter) {
  background-color: #808080;
}

nav .navbar_splitter {
  color: gray;
  pointer-events: none;
  padding-left: 0px;
  padding-right: 0px;
}

#lang_flag {
  /* this is stupid but i tried to center the img vertically and IT DOESN'T WORK!!! */
  border: 0;
  padding: 0;
  transform: translateY(3px);
}

/* responsive navbar menu for navbar */
/* checkbox hack */
input[type=checkbox] {
  display: none;
}

.hamburger {
  border-radius: 15px;
  display: none;
  font-size: 46px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.hamburger #menu_text {
  color: #d3d3d3;
  font-size: 16px;
}

/* full page tabs */
.full_page_tab {
  background-color: #262626;
  border-radius: 50px;
  border: 2px solid #333333;
  box-shadow: 0px 0px 15px #0d0d0d;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow-wrap: break-word;
  padding: 50px;
  width: 600px;
}

/* welcome title */
.tab_title h1 {
  font-size: 300%;
  margin-bottom: 40px;
}

.tab_title h2 {
  font-size: 130%;
  margin-bottom: 40px;
}

/* project number */
.tab_title p {
  color: #d3d3d3;
  font-size: 120%;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

.tab_title img {
  filter: drop-shadow(0 0px 3px #1a1a1a);
  height: 90px;
  margin: 30px;
}

.tab_title hr {
  color: gray;
  margin-bottom: 40px;
  margin-top: 10px;
  size: 2;
}

/* main project's description under project tab */
article {
  text-align: left;
}

article h1 {
  font-size: 200%;
  margin-top: 30px;
}

article p {
  color: #d3d3d3;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* list within article */
article .article_list h1 {
  font-size: 150%;
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: center;
}

article .article_list p {
  margin-bottom: 10px;
}

/* footer with ukrainian flag at the bottom */
footer {
  color: gray;
  margin-top: 50px;
}

footer hr {
  color: gray;
  size: 2;
}

footer p {
  margin-top: 30px;
}

footer img {
  height: 20px;
  margin-top: 10px;
}

/* style the navbar container */
.navbar_per_person {
  background-color: #141414;
  border-radius: 20px;
  border: 2px solid #333333;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  width: 280px;
}

/* style the buttons that are used to open the tab content */
.navbar_per_person button {
  background-color: #404040;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 150%;
  height: 60px;
  margin-bottom: 7px;
  margin-top: 7px;
  outline: none;
  overflow: hidden;
  width: 100%;
}

/* change background color of buttons on hover */
.navbar_per_person button:hover {
  background-color: #808080;
}

/* selected button */
.navbar_per_person button.active {
  background-color: #a35858;
}

/* style the tab content */
.tab_per_person_content {
  background-color: #141414;
  border-radius: 25px;
  border: 2px solid #333333;
  display: none;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  width: 100%;
}

.tab_per_person_content h1 {
  font-size: 300%;
  margin-bottom: 30px;
}

.tab_per_person_content p {
  color: #d3d3d3;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

.tab_per_person_content img {
  border-radius: 8px;
  margin: 10px;
  width: 50px;
}

.tab_per_person_content hr {
  margin-bottom: 40px;
  margin-top: 30px;
  width: 100%;
}

.contact_info table {
  background-color: #141414;
  border-collapse: separate;
  border-radius: 20px;
  border-spacing: 25px;
  border: 2px solid #333333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  width: 100%;
}

/* columns */
.contact_info table th {
  border-bottom: 2px solid #1a1a1a;
  font-size: 160%;
  font-weight: bold;
  padding-bottom: 15px;
}

/* rows */
.contact_info table td {
  color: #808080;
  font-size: 120%;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* rows - images */
.contact_info table td img {
  background-color: transparent;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contact_info .email_explanation {
  color: #d3d3d3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 90%;
}

/* responsive design */
/* narrow device */
@media (max-width: 1320px) {
  header {
    width: 98%;
  }

  nav li {
    padding-left: 6px;
    padding-right: 6px;
  }

  #header_title {
    padding-left: 5px;
  }
}

/* mobile device */
/* navbar only */
@media only screen and (max-width: 1000px) {
  nav {
    background-color: #0d0d0d;
    border-radius: 20px;
    border: 3px solid #262626;
    box-shadow: 0px 0px 15px #0d0d0d;
    display: none;
    font-size: 22px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 130px;
    width: 90%;
  }

  nav li:hover {
    background-color: #808080;
    width: 100%;
    display: inline-block;
  }

  nav li+li {
    margin-top: 12px;
  }

  #header_title {
    transform: translateY(3px);
  }

  input[type=checkbox]:checked~nav {
    display: block;
  }

  input[type=checkbox]:checked~.hamburger {
    background-color: #808080;
  }

  .hamburger {
    display: block;
  }

  nav .navbar_splitter {
    display: none;
  }
}

/* match screen width if less than full tab's 600px width (+ padding) */
@media only screen and (max-width: 620px) {
  .tab_title h1 {
    font-size: 230%;
  }

  .tab_title h2 {
    font-size: 120%;
  }

  .tab_title p {
    font-size: 100%;
  }

  .full_page_tab {
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 98%;
  }

  .tab_per_person_content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tab_per_person_content h1 {
    font-size: 200%;
  }

  .tab_per_person_content img {
    margin: 8px;
    width: 40px;
  }

  .contact_info table {
    border-spacing: 2px 20px;
  }

  .contact_info table th {
    font-size: 120%;
  }

  .contact_info table td {
    font-size: 90%;
  }

  .contact_info table td img {
    height: 15px;
  }
}
