/* mobile navbar only */
body {
  background: var(--body_background);
}

#top_alert {
  position: absolute;
  top: 70px;
}

header {
  height: 70px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
}

/* re-add left padding to logo and hamburger after we removed header's padding */
header>#header_logo {
  display: block;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 0px;
}

header>#mobile_menu_toggle:checked~#hamburger {
  color: var(--nav_button_active);
}

header>#mobile_menu_toggle:checked~nav {
  display: flex;
}

header>#hamburger {
  cursor: pointer;
  display: block;
  font-size: 40px;
  height: 100%;
  margin-top: 8px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

header>nav {
  align-items: stretch;
  background-color: var(--header_background);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 6px;
  position: absolute;
  top: 70px;
  width: 100%;
}

header>nav>.tab_link {
  background-color: var(--nav_button_background);
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 6px;
  margin-inline: auto;
  margin-top: 6px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 98%;
}

header>nav>.navbar_splitter {
  display: none;
}

#lang_flag {
  /* 15, 25 */
  height: 17px;
  transform: translateY(1px);
  width: 28px;
}

.full_page_tab {
  border-radius: 15px;
  margin-top: 80px;
  padding-left: 14px;
  padding-right: 14px;
  width: 98%;
}

.tab_title h1 {
  font-size: 210%;
}

.tab_title h2 {
  font-size: 110%;
}

.tab_title p {
  font-size: 98%;
}

.navbar_per_person {
  width: 90%;
}

.navbar_per_person button {
  font-size: 115%;
  min-height: 60px;
}

.tab_per_person_content {
  padding-left: 20px;
  padding-right: 20px;
}

.tab_per_person_content h1 {
  font-size: 180%;
}

.tab_per_person_content>.img_flex img {
  width: 50px;
}

.contact_info table {
  border-spacing: 2px 10px;
}

.contact_info table th {
  font-size: 120%;
  padding-top: 10px;
}

.contact_info table td {
  font-size: 90%;
}

.contact_info table td img {
  height: 15px;
}

article #reduce_email {
  font-size: 90%;
}
