@import "/resources/stylesheets/base.css";
@import "/resources/stylesheets/responsive/narrow.css" screen and (max-width: 980px);
@import "/resources/stylesheets/responsive/mobile_all.css" screen and (max-width: 680px);

/* variables*/
:root {
  --body_background_gradient_end: #21caca;
  --body_background_gradient_start: #B58ECC;
  /* for mobile */
  --link_color_hover_background: #437043;
  --link_color_hover: #99ff99;
  --link_color: #568f56;
  --nav_button_active: #4d804d;
}

/* Uncomment this and the div in the HTML to show notification when enough participants */
/* .notice_participants {
  background-color: yellow;
  border-radius: 10px;
  color: red;
  font-size: 200%;
  font-weight: 800;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
} */
