@import "/resources/stylesheets//pico.classless.css";

.prodis_tools_header {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    text-align: center;
}

.prodis_tools_header > .prodis_tools_logo {
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.prodis_tools_header > p {
    font-size: 15px;
    margin-top: 20px;
}

.read_order_example > * {
    font-size: 80%;
    color: var(--secondary);
    margin: 1em;
}

section {
    margin-inline: auto;
    max-width: 600px;
}

textarea {
    resize: vertical;
}

.text_center {
    text-align: center;
}

footer {
    text-align: center;
}
