@import "/resources/stylesheets/pico.classless.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

nav {
    justify-content: center;
    gap: 5px;
}

#logo_images {
    user-select: none;
}

a {
    text-decoration: none;
}

img {
    height: 100px;
    margin: 20px;
    width: auto;
}
