@import "/resources/stylesheets/pico.classless.css";

/* General reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/* Navigation */
nav {
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Logo section */
#logo_images {
    user-select: none;
}

/* Anchor links */
a {
    text-decoration: none;
}

img {
    height: 100px;
    margin: 20px;
    width: auto;
}
