@import "/styles/pico/pico.classless.css";

:root {
    --primary: #d81b60;
}

#btn_controls_container {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.container_group>.group_number_header {
    /* title at the top of article */
    text-align: center;

}

article p {
    /* increase top & botton spacing between newlines */
    line-height: 1.8em;
}
