.link {
  color: #bb4b4b;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  background-color: #704343;
  color: #ff9999;
}


/* hide polish or english version based on button click */
body.hide_english :lang(en) {
  display: none;
}

body.hide_polish :lang(pl) {
  display: none;
}

#lang_flag {
  height: 15px;
  margin-right: 2px;
  transform: translateY(1px);
  width: 25px;
}

/* style the navbar container */
.navbar_per_person {
  background-color: #141414;
  border-radius: 15px;
  border: 2px solid #333333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  width: 280px;
}

/* style the buttons that are used to open the tab content */
.navbar_per_person button {
  background-color: #404040;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 130%;
  height: 48px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
  overflow: hidden;
  width: 100%;
}

/* change background color of buttons on hover */
.navbar_per_person button:hover {
  background-color: #808080;
}

/* selected button */
.navbar_per_person button.active {
  background-color: #a35858;
}

/* style the tab content */
.tab_per_person_content {
  background-color: #141414;
  border-radius: 20px;
  border: 2px solid #333333;
  display: none;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  width: 100%;
}

.tab_per_person_content h1 {
  font-size: 300%;
  margin-bottom: 30px;
}

.tab_per_person_content p {
  color: #d3d3d3;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

.tab_per_person_content>.img_flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tab_per_person_content>.img_flex img {
  border-radius: 8px;
  height: auto;
  margin: 10px;
  width: 50px;
}

.tab_per_person_content hr {
  margin-bottom: 40px;
  margin-top: 30px;
  width: 100%;
}

.contact_info table {
  background-color: var(--table_background);
  border-collapse: separate;
  border-radius: 20px;
  border-spacing: 25px;
  border: 2px solid var(--table_border);
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  width: 100%;
}

/* columns */
.contact_info table th {
  border-bottom: 2px solid var(--table_th_border);
  color: var(--table_th_color);
  font-size: 160%;
  font-weight: bold;
  padding-bottom: 15px;
}

/* rows */
.contact_info table td {
  color: var(--table_td_color);
  font-size: 120%;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* rows - images */
.contact_info table td img {
  background-color: transparent;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contact_info .email_explanation {
  color: var(--almost_white);
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 90%;
}

/* narrow */
@media only screen and (max-width: 1010px) {
  header>#header_logo {
    display: none;
  }

  header>nav {
    width: 100%;
  }

  header>nav>*:not(:last-child) {
    margin-right: 5px;
  }

  header>nav>.tab_link {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}

/* narrow and short  */
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  #top_alert {
    position: absolute;
  }

  header {
    position: absolute;
  }
}

/* mobile navbar only */
@media only screen and (max-width: 760px) {
  #top_alert {
    position: absolute;
    top: 80px;
  }

  header {
    height: 80px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
  }

  /* re-add left padding to logo and hamburger after we removed header's padding */
  header>#header_logo {
    display: block;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 0px;
  }

  header>#mobile_menu_toggle:checked~#hamburger {
    color: var(--nav_button_active);
  }

  header>#mobile_menu_toggle:checked~nav {
    display: flex;
  }

  header>#hamburger {
    cursor: pointer;
    display: block;
    font-size: 46px;
    height: 100%;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
  }

  header>nav {
    background-color: var(--header_background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid var(--header_border);
    display: none;
    flex-direction: column;
    height: 450px;
    padding: 18px;
    position: absolute;
    top: 80px;
    width: 100%;
  }

  header>nav>*:not(:last-child) {
    margin-right: 0px;
  }

  header>nav>.tab_link {
    background-color: var(--nav_button_background);
    border-radius: 10px;
    font-size: 24px;
    padding-bottom: 14px;
    padding-top: 14px;
    width: 100%;
  }

  header>nav>.navbar_splitter {
    display: none;
  }

  #lang_flag {
    /* 15, 25 */
    height: 17px;
    transform: translateY(1px);
    width: 28px;
  }

  .full_page_tab {
    margin-top: 100px;
  }
}

/* mobile all */
@media only screen and (max-width: 610px) {
  .full_page_tab {
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 98%;
  }

  .tab_title h1 {
    font-size: 230%;
  }

  .tab_title h2 {
    font-size: 120%;
  }

  .tab_title p {
    font-size: 100%;
  }

  .navbar_per_person {
    width: 90%;
  }

  .navbar_per_person button {
    font-size: 150%;
    height: 60px;
  }

  .tab_per_person_content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tab_per_person_content h1 {
    font-size: 200%;
  }

  .tab_per_person_content>.img_flex img {
    margin: 5px;
    width: 40px;
  }

  .contact_info table {
    border-spacing: 2px 20px;
  }

  .contact_info table th {
    font-size: 120%;
  }

  .contact_info table td {
    font-size: 90%;
  }

  .contact_info table td img {
    height: 15px;
  }
}
