@import "/styles/base.css";
@import "/styles/responsive/narrow.css" screen and (max-width: 950px);
@import "/styles/responsive/mobile_all.css" screen and (max-width: 680px);

:root {
  --table_background: #0d0d18;
  --table_td_color: #808080;
  --table_th_border: #1a1a1a;
  --table_th_color: #bfbfbf;
}

article ul {
  padding-left: 30px;
}
