@import "/styles/base.css";
@import "/styles/responsive/narrow.css" screen and (max-width: 1010px);
@import "/styles/responsive/mobile_navbar.css" screen and (max-width: 730px);
@import "/styles/responsive/mobile_all.css" screen and (max-width: 610px);

:root {
  --table_background: #141414;
  --table_border: #333333;
  --table_td_color: #808080;
  --table_th_border: #1a1a1a;
  --table_th_color: #bfbfbf;
}
