@import "/styles/base.css";
@import "/styles/responsive/narrow.css" screen and (max-width: 1000px);
@import "/styles/responsive/mobile_all.css" screen and (max-width: 610px);

/* variables*/
:root {
  --body_background_gradient_end: #9EABE4;
  --body_background_gradient_start: #c1dfc4;
  --body_background: #c1dfc4;
  --link_color_hover_background: #437043;
  --link_color_hover: #99ff99;
  --link_color: #568f56;
  --nav_button_active: #4d804d;
}
