/* variables*/
:root {
  --almost_white: #d3d3d3;
  --body_background: #1a1a1a;
  --header_background: #141414;
  --header_border: #262626;
  --header_shadow: #0d0d0d;
  --nav_button_active: #4d804d;
  --nav_button_background: #404040;
  --nav_hover: #808080;
  --splitter_color: #404040;
  --tab_background: #262626;
  --tab_border: #333333;
  --tab_shadow: #0d0d0d;
  --table_th_border: #1a1a1a;
  --white: white;
}

.link {
  color: #568f56;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  background-color: #437043;
  color: #99ff99;
}

/* Uncomment this and the div in the HTML to show notification when enough participants */
/* .notice_participants {
  background-color: yellow;
  border-radius: 10px;
  color: red;
  font-size: 200%;
  font-weight: 800;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
} */


.img_wide {
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

#ulotka {
  border-radius: 25px;
  width: 100%;
}

/* main project's description under project tab */
article {
  text-align: left;
}

article h1 {
  font-size: 200%;
  margin-top: 30px;
}

article p {
  color: var(--almost_white);
  line-height: 1.8;
  margin-bottom: 20px;
}

/* list within article */
article .article_list {
  margin-bottom: 60px;
}

article .article_list h1 {
  font-size: 150%;
  margin-bottom: 40px;
  margin-top: 60px;
  text-align: center;
}

article .article_list p {
  margin-bottom: 10px;
}

article .big_link {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 120%;
  text-align: center;
}

/* footer with ukrainian flag at the bottom */
footer {
  color: gray;
  margin-top: 50px;
}

footer hr {
  color: gray;
  size: 2;
}

footer p {
  margin-top: 30px;
}

footer img {
  height: 20px;
  margin-top: 10px;
}

/* narrow */
@media only screen and (max-width: 1000px) {
  header>#header_logo {
    display: none;
  }

  header>nav {
    width: 100%;
  }

  header>nav>*:not(:last-child) {
    margin-right: 5px;
  }

  header>nav>.tab_link {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}

/* narrow and short  */
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  #top_alert {
    position: absolute;
  }

  header {
    position: absolute;
  }
}

/* mobile navbar only */
@media only screen and (max-width: 760px) {
  #top_alert {
    position: absolute;
    top: 80px;
  }

  header {
    height: 80px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
  }

  /* re-add left padding to logo and hamburger after we removed header's padding */
  header>#header_logo {
    display: block;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 0px;
  }

  header>#mobile_menu_toggle:checked~#hamburger {
    color: var(--nav_button_active);
  }

  header>#mobile_menu_toggle:checked~nav {
    display: flex;
  }

  header>#hamburger {
    cursor: pointer;
    display: block;
    font-size: 46px;
    height: 100%;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
  }

  header>nav {
    background-color: var(--header_background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid var(--header_border);
    display: none;
    flex-direction: column;
    height: 390px;
    padding: 18px;
    position: absolute;
    top: 80px;
    width: 100%;
  }

  header>nav>*:not(:last-child) {
    margin-right: 0px;
  }

  header>nav>.tab_link {
    background-color: var(--nav_button_background);
    border-radius: 10px;
    font-size: 24px;
    padding-bottom: 14px;
    padding-top: 14px;
    width: 100%;
  }

  header>nav>.navbar_splitter {
    display: none;
  }

  .full_page_tab {
    margin-top: 100px;
  }
}

/* mobile all */
@media only screen and (max-width: 610px) {
  .full_page_tab {
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 98%;
  }

  .tab_title h1 {
    font-size: 230%;
  }

  .tab_title h2 {
    font-size: 120%;
  }

  .tab_title p {
    font-size: 100%;
  }

  .full_page_tab {
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 98%;
  }

  article #reduce_email {
    font-size: 90%;
  }
}
