/* variables*/
:root {
  --link_color_hover_background: #437043;
  --link_color_hover: #99ff99;
  --link_color: #568f56;
  --nav_button_active: #4d804d;
}

/* Uncomment this and the div in the HTML to show notification when enough participants */
/* .notice_participants {
  background-color: yellow;
  border-radius: 10px;
  color: red;
  font-size: 200%;
  font-weight: 800;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
} */

#ulotka {
  border-radius: 25px;
  width: 100%;
}

/* narrow */
@media only screen and (max-width: 1000px) {
  header>#header_logo {
    display: none;
  }

  header>nav {
    width: 100%;
  }

  header>nav>*:not(:last-child) {
    margin-right: 5px;
  }

  header>nav>.tab_link {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}

/* narrow and short  */
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  #top_alert {
    position: absolute;
  }

  header {
    position: absolute;
  }
}

/* mobile navbar only */
@media only screen and (max-width: 760px) {
  #top_alert {
    position: absolute;
    top: 80px;
  }

  header {
    height: 80px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
  }

  /* re-add left padding to logo and hamburger after we removed header's padding */
  header>#header_logo {
    display: block;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 0px;
  }

  header>#mobile_menu_toggle:checked~#hamburger {
    color: var(--nav_button_active);
  }

  header>#mobile_menu_toggle:checked~nav {
    display: flex;
  }

  header>#hamburger {
    cursor: pointer;
    display: block;
    font-size: 46px;
    height: 100%;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
  }

  header>nav {
    background-color: var(--header_background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid var(--header_border);
    display: none;
    flex-direction: column;
    height: 390px;
    padding: 18px;
    position: absolute;
    top: 80px;
    width: 100%;
  }

  header>nav>*:not(:last-child) {
    margin-right: 0px;
  }

  header>nav>.tab_link {
    background-color: var(--nav_button_background);
    border-radius: 10px;
    font-size: 24px;
    padding-bottom: 14px;
    padding-top: 14px;
    width: 100%;
  }

  header>nav>.navbar_splitter {
    display: none;
  }

  .full_page_tab {
    margin-top: 100px;
  }
}

/* mobile all */
@media only screen and (max-width: 610px) {
  .full_page_tab {
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 98%;
  }

  .tab_title h1 {
    font-size: 230%;
  }

  .tab_title h2 {
    font-size: 120%;
  }

  .tab_title p {
    font-size: 100%;
  }

  .full_page_tab {
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 98%;
  }

  article #reduce_email {
    font-size: 90%;
  }
}
