@import "/styles/pico/pico.classless.css";

.prodis_tools_header {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}

.prodis_tools_header>.prodis_tools_logo {
    height: auto;
    user-select: none;
    width: 200px;
}

.prodis_tools_header>p {
    font-size: 15px;
    margin-top: 20px;
}

.read_order_example>* {
    font-size: 80%;
    color: var(--secondary);
    margin: 1em;
}

section {
    margin-inline: auto;
    max-width: 600px;
}

textarea {
    resize: vertical;
}

.text_center {
    text-align: center;
}
